PORT=5000

DATABASE_CONNECTION="mongodb+srv://Test:test123@cluster0.mlym777.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

JWT_SECRET="Your JWT Secret key"
JWT_EXPIRE="10min"

#For password Reset :

EMAIL_SERVICE="kwizemmy2004@gmail.com"
EMAIL_USERNAME="notepen"
EMAIL_PASSWORD="notepen"
EMAIL_FROM="kwizemmy2004@gmail.com"